* {
      font-family: "Outfit", sans-serif;
      font-size: 16px;
      margin: 0;
      padding: 0;
      font-size: 15px;
}

body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: hsl(212, 45%, 89%);
      min-height: 100vh;

}

.container {
      background-color: hsl(0, 0%, 100%);
      border-radius: 12px;
      width: 100%;
      max-width: 18rem;
      padding: 1rem;
      height: auto;
} 

.qr-container {
      margin-bottom: 1rem;
}

.qr-code {
      border-radius: 10px;
      width: 100%;
}

.body {
      text-align: center;
      margin-bottom: 3rem;
}

.improve {
      color: hsl(218, 44%, 22%);
      font-weight: 900;
      font-size: 1.3rem;
}

.scan {
      color: hsl(216, 15%, 48%);
      font-size: 1rem;
}

@media screen and (min-width: 600px) {
      .container {
            max-width: 20rem;
      }     

      .qr-container {
            margin-bottom: 1.3rem;
      }

      .improve {
            font-size: 1.5rem;
      }

      .scan {
            font-size: 1.1rem;
      }
}

@media screen and (min-width: 1100px) {
      .container {
            max-width: 21rem;
      }     

      .qr-container {
            margin-bottom: 1.4rem;
      }

      .improve {
            font-size: 1.6rem;
      }
}